Authlib==0.14.1
django-cors-headers==2.2.0
django-extensions==2.1.6
django==2.1
django_extensions==2.1.6
djangorestframework==3.8.2
psycopg2-binary==2.8.4
pymysql==0.8.0
qrcode==5.1
requests==2.20.0
xhtml2pdf==0.2.2