{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Commande Woolly - Compiègne en Lumières</title>
	<link rel="stylesheet" href="{% static 'css/lightup.css' %}">
	<style type="text/css">
		@page {
			background-image: url("{% static 'billet_lightup.png' %}");
			background-size: cover;
			size: a4 portrait;
		}
	</style>
</head>

<body>
	{% for ticket in tickets %}
	<table class="ticket pagebreak">
		<tr>
			<td class="info" width="65%">
				<p class="item">{{ ticket.item.name }}</p>
				<p class="sale">{{ order.sale.name }}</p>

				<div class="details">
					<p class="price">Prix : {{ ticket.item.price }}€</p>
					<p class="name">{{ ticket.nom }} {{ ticket.prenom }}</p>
				</div>
			</td>
			<td width="35%" class="qr-div" align="right">
				<img class="qr" src="data:image/png;base64, {{ ticket.qr_code }}" height="2000" width="2000" />
				<p class="code">{{ ticket.uuid }}</p>
			</td>
		</tr>
	</table>
	{% endfor %}
</body>
</html>