<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <html>
     <head>
         <title>Title</title>
         <link rel="stylesheet" href="{% static 'css/style.css' %}">
     </head>
     <body>
        {% for o in order %}
        {% for ol in orderlines %}
        <table class="billet">
            <tr>
                <td></td>
                <td class="titre details" width="70%" align="right">{{ ol.item.name }}</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="details" width="70%" align="right">Prix : {{ ol.item.price }}€</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td class="code">{{ ol.nom }} {{ ol.prenom }}</td>
                <td width="60%" class="details"  align="right">
                    <img src="data:image/png;base64, {{ ol.code }}"/>
                </td>
            </tr>
        </table>
        {% endfor %}
        {% endfor %}
     </body>
 </html>